*{
box-sizing: border-box;
padding: 0;
margin: 0;
}

body{
   background-color: rgb(190, 190, 190);
   font-family: 'Times New Roman', Times, serif;
}

main{
    margin: 30px;
}

h1{
    color: rgb(170, 170, 241);
    text-align: center;
    margin: 20px;
}

p{
    text-align: justify;
    font-size: 17px;
    line-height: 1.5;
    color: rgb(0, 0, 0);
}

strong{
    color: rgb(8, 8, 88);
}
i{
    color: blueviolet
}

span{
    color: rgb(28, 28, 155);
}